# Python Programming
## Python
###  Py

## Python 
       - Point 1
           - Point 11
       -  Point 2
            - Point 22
        Point 3
            - Point 33

 *  **Point 1**  
 *  *Point 1*
 *  ***Point1***

<img scr=' python.png' />

<img scr= 'python.png' />

<img src='python.png' />

### ADDING LINK TO MARKDOWN
 *  Google Site -[Google][1]
 [1]:http://www.google.com

### python Programming
  * Python Version 3.7
  * Functional Programming
  * Object Oriented Programming
  * Scripting Programming

In [10]:
print('Hello Gitam')

Hello Gitam

In [11]:
print('Hello Gitam')
print('Vizag')

Hello Gitam
Vizag

In [12]:
print('Hello Gitam',' ||| ',  end=' ')
print('Vizag')

Hello Gitam  |||  Vizag

### Data types and Data type Conversion
- Int
- Float
- String

# a = 100
s ='Python Programming'
s1 ="Python Programming"
s2='a'
b= 16.325211678903
print(a)
print(s)
print(s1)
print(s2)
print(b)
print(type(a))
print(type(s))
print(type(s1))
print(type(s2))
print(type(b))

### Data type Conversions
- int()
- float()
- str()

In [16]:
a=100
print(a, end=" ")
print(type(a))
s1 = str(a) #converts into string
print(s1, end="")
print(type(s1))

100 <class 'int'>
100<class 'str'>

In [23]:
s1 ="100.123"
print(s1, end=" ")
print(type(s1))
#a =int(s1)
a1 =float(s1)
a2=int(a1)
print(a,end =' ')
print(a1,end=' ')
print(type(a))
print(type(a1))
print(type(a2))

100.123 <class 'str'>
100 100.123 <class 'int'>
<class 'float'>
<class 'int'>

In [24]:
#Digit Count of a number
a = 1234
print(len(str(a)))

4

### Input() Function
- Reads the input to the Python Program
- Reads the input in terms of string format

In [1]:
s1= input('Enter Your Name')
print(s1, type(s1))

Enter Your NameSatya
Satya <class 'str'>

In [2]:
a=int(input('Enter Your Name'))
print(a, type(a))

Enter Your Name2345
2345 <class 'int'>

In [4]:
a=float(input('Enter a decimal number'))
print(a, type(a))

Enter a decimal number12.2234
12.2234 <class 'float'>

### operators
- +
- -
- *
- /
- %
- //

In [6]:
print(10/3)
print(10//3)
print(2**3)  #power

3.3333333333333335
3
8

In [7]:
#Prceding Levels of Operators
# Power, Division,Addition
x = 1+2 ** 3 / 4 +5        #power->Mul->Add->Sub
print(x)

8.0

### Logical Operators
- and
- or 
- not

In [10]:
a = 10
b= (a>9) and (a>=10)
print(b,type(b))
b= (a>9) and (a>100)
print(b, type(b))
b= (a>9) or (a>100)
print(b, type(b))

True <class 'bool'>
False <class 'bool'>
True <class 'bool'>

### Control Flow statements
- Conditional Statements
    - if-else
- Looping Statements
    - while
    - for

In [11]:
#Read a number as input 
#print the output as Even or Odd
a1= int(input(' '))
if  a1%2 ==0:
    print('Even')
else:
    print('Odd')

 54
Even

In [12]:
#Read a number
#Print the output as Zero, Positive number or negative number
a2 = int(input(' '))
if  a2 ==0:
    print('Zero')
elif a2 > 0:
    print('Positive Number')
elif a2 <0:
    print('Negative Number')

 65
Positive Number

![text](img/python.png)

from IPython.display import Image
![title](img/python.png)

![alt text](python.png "Title")